*{
    margin:0px;
}
.main-container{
    width:1300px;
    height:3500px;
    /* border:2px solid; */
    margin-left: 30px;
}
.rr{
    background-color: rgb(255, 255, 255);
    position: sticky;
    top:0px;
}
.burger{
    width:1100px;
    height:550px;
    /* border:2px solid; */
    position: absolute;
    margin-left: 100px;
}
img{
width:100%;
}
h2{
    position: relative;
    bottom:50px;
}
.container1{
    margin-top: 600px;
    width:500px;
    height:500px;
    /* border:2px solid; */
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}
.container1 img{
    width:100%;
    height:100%;
}
.container2{
    display: inline-block;
    width:500px;
    height:500px;
    /* border:2px solid; */
    position: absolute;
    margin-top: 600px;
    /* margin-left: 100px; */
 }
.container3{
    /* margin-top: 600px; */
    width:500px;
    height:500px;
    /* border:2px solid; */
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}
.container4{
    display: inline-block;
    width:500px;
    height:650px;
    /* border:2px solid; */
    position: absolute;
    /* margin-top: 600px; */
    /* margin-left: 100px; */
 }
 .container4 img{
    width:100%;
    height:100%;
}
.contact{
    width:1100px;
    height:500px;
    /* border:2px solid; */
    margin-left: 100px;
}
.contact span p{
    color:blue;
}
input{
    width:800px;
    margin-top: 20px;
}